*.xml
*.log
*.apk
*.iml
**/.vscode/
**/.idea/
*.pyc
.DS_Store
*.cfg
*.sqlite3
checkpoints/
runs/
__pycache__/
*.npy
*.so
.rendered
# Ignore Python virtual environments
venv/
env/
.venv/

# Ignore Conda environments (if they are stored locally)
conda/
.conda/

